<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm" />
	</configSections>
	<Xtensive.Orm>
		<domains>
			<domain name="Default" upgradeMode="Recreate" connectionUrl="memory://localhost/DO40-Tests" >
				<types>
					<add assembly="DO4_4_Test03" />
				</types>
			</domain>
			<!-- Examples of connectionUrl for other databases:
			<domain name="sqlserver"  upgradeMode="Recreate" connectionUrl="sqlserver://localhost/DO40-Tests">
			<domain name="sqlexpress" upgradeMode="Recreate" connectionUrl="sqlserver://localhost\SQLExpress/DO40-Tests">
			<domain name="pgsql"      upgradeMode="Recreate" connectionUrl="postgresql://do4test:do4testpwd@localhost/do40test?Encoding=ASCII">
			<domain name="oracle"     upgradeMode="Recreate" connectionUrl="oracle://do4test:do4testpwd@localhost/do40test">
			-->
		</domains>
	</Xtensive.Orm>
</configuration>