<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("7c5c596f-9b3b-4a66-9d52-e78df9e993c6");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
