<#
	string directiveName = "DONetEntityModelDesigner"; //this.Dsl.Name;
#>
<#@ include file="Dsl\ModelDirectiveProcessor.tt" #>
<#@ Dsl processor="DslDirectiveProcessor"  requires="fileName='..\DslDefinition.dsl'" #>
